<body style="background: grey">
<h3 style="text-align: center;font-weight: bolder;"> Moving Box Generator</h3>
<h4>Keyboard Event:</h4>
<ul>
  <li>
    Press Up,Down,Left,Right arrow key on keyboard <br>
    for moving the box;
  </li>
  <li>
    Press Up,Down,Left,Right arrow key on keyboard <br>
    for moving the box.
    </li>
    <li>
      To chnage control to W,A,S,D click the button. You can toggle the control by pressing the button.
      </li>
  <li>
    For Deleting the box Press Del key on keyboard.
  </li>
</ul>

<button (click)="change()" style="margin-top: 20px;margin-left: 100px"  type="button" name="button" >Click here to change keyboard controls</button>
<button (click)="AddBoxes()" style="margin-top: 20px;margin-left: 400px;" type="submit">Add Boxes</button>
<div class="Box_Rect">
  <!-- <div class="Input" id="{{this.idbox}}" style="z-index: 1;"> -->

  </div>
</body>
